@mixin fl-row {
    display: flex;
    flex-flow: row nowrap;
}

@mixin flex-col {
    display: flex;
    flex-flow: column nowrap;
}

@mixin prdCardFlex {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center; 
    align-items: flex-start;
    gap: 12px;
    width: max-content;
}
@mixin reviewCardFlex {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start; 
    align-items: center;
    gap: 8px;
}

@mixin sectionTitle {
    font-size: clamp(1.5rem, 3vw, 2.313rem); //37px
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.02rem;
    color: #2A2625;
    font-family: 'NanumMyeongjo';
}
@mixin prdTitle {
    font-size: clamp(0.75rem, 2vw, 0.875rem); //12~ 14px
    line-height: 100%;
    letter-spacing: -0.02rem;
}
@mixin prdEng {
    font-size: clamp(0.75rem, 2vw, 0.875rem); //12~ 14px //14px
    line-height: 100%;
    font-weight: 200;
    letter-spacing: -0.02rem;
}
@mixin prdPrice {
    font-size: clamp(0.875rem, 2vw, 1rem); //14~16px
    line-height: 100%;
    font-weight: 200;
    letter-spacing: -0.02rem;
}
@mixin prdVol {
    font-size: clamp(0.625rem, 2vw, 0.75rem); //10~12px
    line-height: 100%;
    font-weight: 300;
    letter-spacing: -0.02rem;
}

@mixin prdTag {
    width: max-content; height: 22px;
    padding: 4px 15px;
    border-top-left-radius: 9px;
    border-bottom-right-radius: 9px;
    font-size: 0.625rem; font-weight: 200;
    line-height: 140%;
}
@mixin viewMoreBtn {
    font-size: 1rem; //14px
    line-height: 100%;
    font-weight: 200;
    letter-spacing: -0.02rem;
    color: #2A2625;
}
@mixin gnbMenuTitle {
    font-weight: 500;
    letter-spacing: -0.02rem;
    color: #594632;
}
@mixin gnbMenuSubtitle {
    font-weight: 300;
    letter-spacing: -0.02rem;
    font-size: 0.875rem;
}
@mixin gnbMenuSubCategory {
    font-weight: 300;
    letter-spacing: -0.02rem;
    font-size: 0.813rem;
    color: #2C2C2C;
}
@mixin bg_set {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    background-color: #2A2625;
    .ft_left {
        @include flex-col; gap: 23px;
        align-items: flex-start;
        justify-content: center;
        .logo {
            a {}
        }
        .cs_center {
            p {}
            .phone {}
        }
        .schedule {
            p {}
        }
        .official {
            img {}
            p {}
        }
    }
    .ft_right {}
}