@use './common.scss' as *;

body {
    header {
        @include fl-row;
        justify-content: space-between; align-items: center;
        .left_nav {
            .logo_gnb_icon {
                //@include flex-col;
                justify-content: center;
                align-items: flex-start;
                .logo {
                    a {
                        font-size: 1.688rem; //27px
                        font-weight: 600;
                        font-family: 'NanumMyeongjo';
                        letter-spacing: -.02rem;
                    }
                }
                #main_menu_btn {}
            }
            .gnb_wrap {
                padding: 30px;
                background-color: #CDC1B0;
                width: 336px; height: 792px;
                border-top-right-radius: 80px;
                #gnb_close_btn {
                    width: 85%;
                    @include fl-row;
                    justify-content: flex-end;
                }
                #gnb {
                    max-width: 220px; width: 100%;
                    @include flex-col; gap: 25px;
                    .gnb_menu_title {
                        > a {
                            @include gnbMenuTitle;
                        } /* Global Menu Name */
                        .gnb_sub {
                            @include flex-col;
                            .gnb_sub_title {
                                margin-top: 25px;
                                @include gnbMenuSubtitle;
                            }
                            .menu_category {
                                margin: 10px 0;
                                display: flex; flex-flow: row wrap; gap: 10px;
                                > li {
                                    a {@include gnbMenuSubCategory;}
                                }
                            }
                        }
                    }/* 라인별 등등 */
                }
                }
            }
        }
        .right_nav {
            background-color: bisque;
            #right_menu_icons {
                @include fl-row; gap: 15px;
                justify-content: flex-start; align-items: center;
                #search_btn {}
                #profile_btn {}
                #cart_btn {}
            }
            .search_wrap {
                .close_search {
                    #search_close_btn {}
                    .search_form {
                        #menu_search_input {}
                        #clear_search_btn {}
                    }
                }
                .rec_keywords {
                    h3 {}
                    .keyword_row {
                        > a {}
                    }
                }
            }
        }
    }