//responsive.scss
@use './common.scss' as *;

//Tablet 1
@media screen and (max-width: 1549px) {
    body {
        main {
            * section {padding: 0 30px;}
            .recom_sec {
                padding: 30px;
                .product_wrap {
                    .product_row {
                        .link4 {display: none;}
                    }
                }
            }
            .new_sec {
                padding: 0 30px;
                img {
                    aspect-ratio: 348 / 383;
                    width: 348px;
                }
            }
            .essential_sec {
                flex-flow: column nowrap;
                .left_wrap {
                    @include bg_set;
                    background-image: url(../images/essential_bnr_tablet.png);
                    border-radius: 0;
                    aspect-ratio: 1549 / 364;
                    max-width: 1549px; width: 100%;
                    min-width: 440px;
                    max-height: 364px;
                }
                .right_wrap {
                    max-width: unset;
                }
            }
            .review_sec {
                padding: 30px;
            }
        }
        
    }
}

// Tablet 2
@media screen and (max-width: 1250px) {
    body {
        min-width: 1023px;
        main {
            .main_bnr {
                #main_swiper {
                    .swiper-wrapper {
                        .swiper-slide {
                            span {
                                left: 146px; top: 230px;
                            }
                        }
                        .main_bnr1 {background-image: url(../images/main_bnr_tablet_001.jpg);}
                        .main_bnr2 {background-image: url(../images/main_bnr_tablet_002.jpg);}
                        .main_bnr3 {background-image: url(../images/main_bnr_tablet_003.jpg);}
                        .main_bnr4 {background-image: url(../images/main_bnr_tablet_004.jpg);}
                    }
                }
            }
            .best_sec {
                @include flex-col;
                .best_left_wrap {
                    position: static;
                    aspect-ratio: 1250 / 407;
                    max-width: 1250px;
                    background-image: url(../images/best_bg_tablet.png);
                    border-radius: 0;
                }
                .best_right_wrap {
                    max-width: 1250px;
                    padding: 15px 15px 30px 15px;
                    .product_wrap {
                        .product_row {
                            justify-content: space-evenly;
                            .prd_link {
                                &.card_3,
                                &.card_6,
                                &.card_9 {
                                    display: block;
                                }
                                .product_card {
                                    .best_prd_img {
                                        aspect-ratio: 348 / 383;
                                        width: 348px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .recom_sec {
                .sect_title {}
                .more_btn {}
                .product_wrap {
                    .product_row {
                        flex: 1 1 calc(50% - 20px);
                        //@include flex-col;
                        //justify-content: space-evenly;
                        .prd_link {
                            .product_card {
                                > img {
                                    aspect-ratio: 348 / 383;
                                    width: 348px;
                                }
                                .prd_info {
                                    .prd_tag {
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .etsere_bnr {
                .bnr_wrap {
                    .bnr_popup {
                        //top: 176px; left: 780px;
                        top: 25%; left: 70%;
                        width: 140px; height: 200px;
                        padding: 10px;
                        img  {
                            width: 70px;
                        }
                    }
                }
            }
        }
        footer {
            flex-flow: column nowrap;
            padding: 30px;
            .ft_left {
                .official {display: none;}
            }
        }
    }
}

//Mobile
@media screen and (max-width: 1024px) {
    body {
        min-width: 320px;
        main {
            * section {padding: 0 15px;}
            .main_bnr {
                #main_swiper {
                    .swiper-wrapper {
                        .swiper-slide {
                            span {
                                left: 46px
                            }
                        }
                    }
                }
            }
            .best_sec {
                .best_right_wrap {
                    max-width: 1024px;
                    .product_wrap {
                        .product_row {
                            .prd_link {
                                &.card_3,
                                &.card_6,
                                &.card_9 {
                                    display: none;
                                }
                                .product_card {
                                    .best_prd_img {
                                        aspect-ratio: 200 / 283;
                                        width: 200px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .recom_sec {
                padding: 15px;
                .sect_title {}
                .more_btn {}
                .product_wrap {
                    .product_row {
                        justify-content: space-evenly;
                        .prd_link {
                            .product_card {
                                > img {
                                    aspect-ratio: 200 / 283;
                                    width: 200px;
                                }
                                .prd_info {
                                    .prd_tag {
                                    }
                                }
                            }
                        }
                        .link3 {display: none;}
                    }
                    .row3 {display: flex;}
                }
            }
            .etsere_bnr {
                .bnr_wrap {
                    > span {
                        max-width: 146px;
                    }
                }
            }
            .new_sec {
                img {
                    aspect-ratio: 200 / 283;
                    width: 200px;
                }
            }
            .essential_sec {
                img {
                    aspect-ratio: 200 / 283;
                    width: 200px;
                }
            }
            .review_sec {
                padding: 15px;
                .swiper_box {
                    #review_swiper {
                        .swiper-wrapper {
                            .swiper-slide  {
                                .review_info  {
                                    .stars_name_date {
                                        //justify-content: space-around;
                                        .score_name {gap: 4px;}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        
    }
}